{% extends 'base.html' %}
{% block title %}Login | {% endblock %}
{% block content %}
    <div class=""p-10 text-center">
        <h1 style="text-align:center;">Login</h1>
    </div>

    <form method="post" novalidate>
        {% csrf_token %}
        <div class="form-group">
            
        {{ form.as_p }}


        {% if form.errors %}
            {% for field in form %}
                {% for errors in field.errors %}
                    <div class="alert alert-danger" role="alert">
                        <p> {{ field.name }}</p>
                        <p> {{ errors|escape }} </p>
                        
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}
        
        <input type="submit" class="btn btn-info" value="Login">
        </div>
        <div>
            <br> <p style="text-align: center;">Not a user? <a  href="/signup/">Signup</a></p>
        </div>
        
            
    

        </form>
    
{% endblock %}