{% extends 'base.html' %}

{% block title %}Rooms | {% endblock %}

{% block content %}
<div class="container">
    <h1 style="border:green; border-width: 5px; border-style: dashed; text-align: center;">Rooms</h1>
</div>

<div class="container">
    <center>
    {% for room in rooms %}
        <div>
            <div class="card text-center" style="width:18rem;">
                <div class="card-header">
                    CHAT IN
                </div>
                <div class="card-body">
                    <h2 class="card-text">{{ room.name }}</h2>
                    
                    
                    <a href="{% url 'room' room.id %}" class="btn btn-primary">Join</a>
                </div>
            </div>
        </div>
        <br><br>
    {% empty %}
        <p>No users to chat.</p>
    {% endfor %}
</center>
</div>
{% endblock %}