{% extends 'base.html' %}
{% block title %}Signup | {% endblock %}
{% block content %}
    <div>
        <h1 style="text-align:center;">Signup</h1>
    </div>
    
    <form method="post" novalidate>
        {% csrf_token %}
    <div class="form-group">
        {{ form.as_table }} 

        {% if messages %}
        <div class="messages">
        {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}"{% endif %}>
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}

        {% if form.errors %}
            {% for field in form %}
                {% for errors in field.errors %}
                    <div class="alert alert-danger" role="alert">
                        <p> {{ field.name }}</p>
                        <p> {{ errors|escape }} </p>
                        
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}
        
    </div>
        <div class="form-group">
            <input type="submit" class="btn btn-info" value="Signup">      
        </div>
        <div>
        <br> <p style="text-align: center;">Already a user? <a  href = "/login/">Login</a></p>
        </div>
    </form>
    
{% endblock %}